@tailwind base;
@tailwind components;
@tailwind utilities;

/* all of the basic html tag in this application */
@layer base {
    a {
        @apply text-orange-500
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }

}

/* apply multiple form at once like classname="__macro_name__" */
@layer components {
    .input {
        @apply bg-gray-100 w-full 
        hover:ring hover:ring-offset-2 hover:ring-cyan-200
        border-none valid:ring-green-200
        valid:ring-2 invalid:ring-2 invalid:ring-red-200
    }

    .primary-btn {
        @apply w-full bg-orange-500 
        text-white font-medium rounded-md text-center
        hover:bg-orange-400 transition-colors
    }
}

/* className's property as usual you write in the classname */
@layer utilities {
    .text-bigger-hello {
        @apply text-3xl font-bold
    }

    .flex-col-center {
        @apply flex flex-col items-center
    }

}